@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --accent-color:#ee2a24ff;
}

body{
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Absolute Positioned Elements */
.offer{
    position: fixed;
    top: 40%;
    left: 0;
    border-radius: 10px;
}

.offer__text{
    padding: 60px 8px;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--accent-color);
    color: white;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

/* -----------------------Header Section----------------------- */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 80px;
    gap: 40px;
    border-bottom: 1px solid #e0e2e4ff;
}

.header-upper,
.header-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-upper-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 8px;
    background-color: #f4f5f4ff;
    border-radius: 10px;
}

::placeholder{
    color: rgba(128, 128, 128, 0.5);

}

.header-upper-search__input{
    font-size: 14px;
    width: 600px;
    border: none;
    background: transparent;
}

.header-upper-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header-upper-right-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.header-upper-left{
    font-size: 32px;
    font-weight: 500;
}

.header-upper-left__title{
    font-weight: 700;
    color: var(--accent-color);
}

.header-lower__nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.header-lower__nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.header-lower__nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.header-lower-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.header-upper-search__icon,
.header-upper-right-profile__icon,
.header-upper-right__cart,
.header-lower__nav-menu-icon,
.header-upper-right-profile__down,
.header-lower__nav-menu-down,
.header-lower__nav-links-icon,
.header-lower-location__icon {
    width: 20px;
}

/* -----------------------Hero Section----------------------- */

.hero{
    display: grid;
    margin: 20px 80px;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    grid-auto-rows: 240px;
}

.hero-items{
    border-radius: 10px;
}

.item01{
    grid-column: 1/ 3;
    grid-row: 1/ 3;
    background-image: url(https://snshealth.com/cdn/shop/files/vega_0ace3aea-e9c6-46ee-acff-2f4f2f86671e_900x.jpg?v=1700577357);
}

.item02{
    background-image: url(https://snshealth.com/cdn/shop/files/sproos_540x.webp?v=1696235240);
}

.item03{
    background-image: url(https://snshealth.com/cdn/shop/files/progressive_922721b0-c8b6-4d85-9628-02c85a53eaca_540x.png?v=1697473767);
}

.item04{
    background-image: url(https://snshealth.com/cdn/shop/files/on_per_desk_540x.jpg?v=1699019589);
}

.item05{
    background-image: url(https://snshealth.com/cdn/shop/files/Desktop_MuscleTech_540x.png?v=1698941534);
}

.item06{
    background-image: url(https://snshealth.com/cdn/shop/files/inner_armour_desk_540x.jpg?v=1699629256);
}

/* -----------------------Category Section----------------------- */

.category__title{
    margin: 40px 80px;
    font-size: 32px;
    font-weight: 700;
}

.categories{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
    align-items: center;
}

.categories-item{
    min-width: 200px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border: 1px solid gray;
    border-radius: 8px;
}

.categories-item:hover{
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.categories-item__icon{
    height: 40px;
    width: 32px;
}

.categories-item__text{
    font-size: 16px;
    font-weight: 600;
}

/* -----------------------Diet Section----------------------- */

.diet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 0px 80px;
    gap: 60px;
}

.diet__title{
    margin: 40px 80px;
    font-size: 32px;
    font-weight: 700;
}

.diet-top{
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.diet-top-item{
    display: flex;
    border: 1px solid gray;
    border-radius: 8px;
}

.diet-top-item-image{
    padding: 40px 40px;
}

.diet-top-item-image__icon{
    height: 60px;
    width: 60px;
}

.diet-top-item-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 40px 40px;
}

.diet-top-item-text__top{
    font-size: 24px;
    font-weight: 700;
}

.diet-top-item-text__bottom{
    font-size: 16px;
    font-weight: 600;
}

.diet-top-item:hover{
    border: 1px solid var(--accent-color);
    
    .diet-top-item-text__top{
        color: var(--accent-color);
    }

    .diet-top-item-image{
        background-color: var(--accent-color);
    }
}

/* -----------------------Health Condition Section----------------------- */

.health-condition__title {
    font-size: 32px;
    font-weight: 700;
    margin: 40px 80px;
}

.health-condition {
    
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 80px;
}

.health-condition__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border: 1px solid gray;
    border-radius: 8px;
    text-wrap: nowrap;
}

.health-condition__items img {
    width: 30px;
}

.health-condition__item-title {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 7px;
}

.health-condition__items:hover {
    border: 1px solid #e60d0aff;
    cursor: pointer;
    color: #e60d0aff;
}

/* -----------------------Brands Section----------------------- */

.featured-brands__title{
    margin: 40px 80px;
}

.featured-brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
    margin: 0px 80px;
}

.featured-brands__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px 40px;
}

.featured-brands__item-image{
    height: 40px;
    width: 120px;
}

/* -----------------------Products Section----------------------- */

.featured-products-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 80px;
}

.featured-products-heading__title{
    font-size: 32;
    font-weight: 700;
}

.featured-products-heading__link{
    color: black;
    font-size: 20px;
    font-weight: 400;
}